.slider-cards {
    margin-left: -10px;
    margin-right: -10px;

    @include breakpoint-down(xxl) {
        margin-right: 0 !important;
    }

    .slider-card-wrapper {
        padding: 0 10px;
    }
    .card {
        max-width: 300px;
        height: 360px;
        border-radius: 20px;

        &-img {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-body {
            min-height: 165px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.24) 40%, rgba(0, 0, 0, 0.8) 100%);
        }

        &:hover {
            .card-title {
                text-decoration: underline !important;
            }
        }
    }
}

.blog-cards {
    @include breakpoint-down(lg) {
        gap: 24px !important;
    }

    @include breakpoint-down(sm){
        gap: 20px!important;
    }

    @include breakpoint-down(xs){
        gap: 16px!important;
    }

    .card {
        transition: $default-transition;
        &-img {
            height: 220px;
        }

        &-body {
            @include breakpoint-down(sm) {
                padding-right: 0 !important;
                padding-left: 0 !important;
            }
        }

        &:hover {
            background: color("white") !important;

            .badge {
                background: color("primary") !important;
                color: color("white") !important;
            }

            .card-title {
                text-decoration: underline !important;
            }
        }
    }
}

.plain-cards {
    @include breakpoint-down(lg) {
        gap: 24px !important;
    }

    @include breakpoint-down(sm) {
        gap: 16px !important;
    }

    .plain-card {
        &-item {
            &:hover {
                border-color: color("primary") !important;
                box-shadow: map-get($shadows, "default");
            }

            &:focus {
                background: color("primary") !important;

                .plain-card-item-bottom {
                    color: color("white") !important;
                }

                .plain-card-item-top {
                    h4 {
                        color: color("white") !important;
                    }
                }
            }

            @include breakpoint-down(sm){
                padding: 16px 12px!important;
            }
        }
    }
}
