// FORM & FORM ELEMS CUSTOMIZATION
.form-label {
  font-family: $font-family-karla;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  color: color("gray");
  margin-bottom: 0 !important;

  @include breakpoint-down(md) {
    font-size: 14px;
  }
}

.form-control {
  height: 52px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px !important;
  background: $white;
  font-size: 16px;
  color: $theme;
  font-weight: 600;

  &::placeholder {
    color: color("grey-4") !important;
  }

  @include breakpoint-down(md) {
    border-radius: 6px !important;
    height: 48px;
  }

  @include breakpoint-down(sm) {
    height: 44px;
  }

  @include placeholder() {
    font-weight: 600;
    font-size: 16px;
    font-family: inherit;
    color: color("grey-4");
  }
}

.form-elem-ttl {
  margin-bottom: 12px;
  color: $night;
}

.form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid $timberwolf !important;
}

.form-elem {
  display: grid;
  row-gap: 8px;
}

.form-elem-group {
  display: grid;
  row-gap: 20px;

  @include breakpoint-down(md) {
    row-gap: 16px;
  }

  @include breakpoint-down(sm) {
    row-gap: 12px;
  }
}

.form-check .form-label {
  margin-left: 6px;
}

.form-link {
  color: $theme;
  text-decoration: underline;
  transition: $default-transition;

  &:hover {
    opacity: 0.9;
  }
}

.form-error-text {
  font-size: 12px;
  color: map-get($colors, "danger");
  font-weight: 400;
  margin-top: -8px;
}

// INNER FORM STYLINGS
.form-custom {
  %form-input-common {
    height: 52px !important;
    border: 1px solid color("grey-2");
    border-radius: 8px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    color: color("gray") !important;
    box-shadow: none;
    font-weight: 600;

    &::placeholder {
      color: color("grey-4") !important;
    }
  }
  .form-control {
    @extend %form-input-common;
    background: color("white");
  }

  textarea {
    &.form-control {
      height: 70px!important;
    }
  }

  .form-select {
    @extend %form-input-common;
    background-color: color("white");
    background-size: 24px 24px !important;
    color: $gray !important;
    font-size: 14px !important;
  }
}

.form-select {
  --bs-form-select-bg-img: url("../../../assets/icons/chevron_down_small_dark.svg") !important;
  background-image: var(--bs-form-select-bg-img) !important;
}

.form-check {
  &-input {
    &:focus,
    &:active,
    &:checked {
      box-shadow: none !important;
    }

    &:checked {
      background-color: $theme !important;
      border-color: $theme !important;
    }
  }
}

.password-form-elem {
  .form-control-wrapper {
    position: relative;
    .form-elem-icon {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .form-elem-icon {
    pointer-events: initial !important;

    &.show-password {
      .un-slashed {
        display: inline-flex;
      }
      .slashed {
        display: none;
      }
    }
    s img {
      pointer-events: none;
    }
  }

  .un-slashed {
    display: none;
  }
}
