// FORM & FORM ELEMS CUSTOMIZATION
.form-custom {
  %form-input-common {
    height: 52px !important;
    border: 1px solid color("grey-2");
    border-radius: 8px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    color: color("gray") !important;
    box-shadow: none;
    font-weight: 600;
    outline: none;
    font-size: 16px;

    &::placeholder {
      color: color("grey-4") !important;
    }

    @include breakpoint-down(lg) {
      font-size: 14px;
      height: 48px !important;
    }

    @include breakpoint-down(sm) {
      height: 44px !important;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    @include breakpoint-down(xs) {
      height: 40px !important;
    }
  }

  .form-control {
    @extend %form-input-common;
    background: color("white");

    @include breakpoint-down(md) {
      border-radius: 6px !important;
      height: 48px;
    }

    @include breakpoint-down(sm) {
      height: 44px;
    }

    @include placeholder() {
      font-weight: 600;
      font-size: 16px;
      font-family: inherit;
      color: color("grey-4");
    }
  }

  textarea {
    &.form-control {
      height: 70px !important;
    }
  }

  .form-select {
    @extend %form-input-common;
    // bootstrap select icon customization
    background-color: color("white");
    background-size: 24px 24px !important;
  }
}

.form-label {
  font-family: $font-family-karla;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  color: color("gray");
  margin-bottom: 0 !important;

  @include breakpoint-down(md) {
    font-size: 14px;
  }
}

.form-elem-ttl {
  margin-bottom: 12px;
  color: $night;
}

.form-check-input {
  @include box(20px);
  border-radius: 4px;
}

.form-elem {
  display: grid;
  row-gap: 8px;

  &-group {
    display: grid;
    row-gap: 20px;

    @include breakpoint-down(md) {
      row-gap: 16px;
    }

    @include breakpoint-down(sm) {
      row-gap: 12px;
    }
  }
}

.form-link {
  color: color("primary");
  text-decoration: underline;
  transition: $default-transition;

  &:hover {
    opacity: 0.9;
  }
}

.form-error-text {
  font-size: 12px;
  color: map-get($colors, "danger");
  font-weight: 400;
}

.form-select {
  --bs-form-select-bg-img: url("../../../assets/icons/chevron_down_small_dark.svg") !important;
  background-image: var(--bs-form-select-bg-img) !important;
}

.form-check {
  &-input {
    &:focus,
    &:active,
    &:checked {
      box-shadow: none !important;
    }

    &:checked {
      background-color: color("primary") !important;
      border-color: color("primary") !important;
    }
  }
}

.password-form-elem {
  .form-control-wrapper {
    position: relative;
    .form-elem-icon {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .form-elem-icon {
    pointer-events: initial !important;

    &.show-password {
      .un-slashed {
        display: inline-flex;
      }
      .slashed {
        display: none;
      }
    }

    img {
      pointer-events: none;
    }
  }

  .un-slashed {
    display: none;
  }
}

// PHONE INPUT
.form-elem-phone {
  display: grid;
  grid-template-columns: 180px auto;

  @include breakpoint-down(sm){
    grid-template-columns: 100%;
  }
}

// SELECT 2 CUSTOMIZATION

.select2-container.select2-container--default {
  z-index: 1056;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: color("primary") !important;

  .flag-text {
    color: color("white") !important;
  }
}

.select2-container {
  .select2-selection.select2-selection--single {
    height: 52px;
    display: flex;
    align-items: center;

    .flag-text {
      margin-left: 12px !important;
      font-size: 16px;
      color: color("gray");
    }
  }

  .select2-search__field {
    display: none !important;
  }
  .select2-results__options {
    @include scrollbar("y");

    .flag-icon {
      width: 20px;
    }
  }

  .select2-results__option {
    &__option--highlighted {
      background: color("primary") !important;
    }

    .flag-text {
      margin-left: 6px;
      font-family: $font-family-karla;
      font-size: 16px;
      color: color("gray");

      @include breakpoint-down(sm) {
        font-size: 14px;
      }
    }
  }

  &.select2-container--default .select2-selection__arrow {
    top: 12px !important;
    border-top-color: #121212 !important;
  }
  &.select2-container--default .select2-selection__arrow b {
    border-top-color: #121212 !important;
  }

  .select2-selection__rendered {
    padding-left: 16px !important;
    padding-right: 0 !important;
  }

  &.select2-container--default .select2-selection--single {
    border: 0 !important;
  }

  &.select2-container--open {
    &.select2-container--default .select2-selection__arrow b {
      border-bottom-color: #121212 !important;
    }
  }

  .select2-dropdown {
    border-color: #e5e5e5 !important;
  }
}

.select2-container--default .select2-selection--single .select2-selection__clear{
  width: 20px;
  height: 20px!important;
  background-color: color("red-500")!important;
  border-radius: 4px;
  margin-right: 0!important;
  @include flex-center;
}