.modal-customized {
    @include breakpoint-down(sm){
        padding-right: 0!important;
        padding-left: 0px!important;
    }
    .modal-content {
        border: 1px solid color("grey-2");
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    .modal-title {
        width: 100%;
    }
    .modal-header {
        padding: 28px 40px 20px 40px;
        background: color("p-green-50");
        border: 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;

        @include breakpoint-down(lg){
            padding: 16px 20px;
        }

        @include breakpoint-down(sm){
            padding: 16px;
        }
    }
    .modal-body {
        padding: 20px 40px;

        @include breakpoint-down(lg){
            padding: 16px 20px;
        }

        @include breakpoint-down(sm){
            padding: 16px;
        }
    }
    .modal-footer {
        border: 0;
        padding: 28px 40px 20px 40px;

        @include breakpoint-down(lg){
            padding: 16px 20px;
        }

        @include breakpoint-down(sm){
            padding: 16px;
        }
    }

    .btn-close {
        position: absolute;
        top: -12.5px;
        right: -12.5px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        opacity: 1;
        background: transparent
            url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
            center/1em auto no-repeat;
        background-color: color("primary");
        transition: $default-transition;

        
        &:hover {
            transform: scale(0.95);
        }

        @include breakpoint-down(md){
            width: 16px;
            height: 16px;
            top: -8px;
            right: -8px;
        }

        @include breakpoint-down(sm){
            width: 14px;
            height: 14px;
            top: 16px;
            right: 16px;
            font-size: 12px;
        }
    }

    .modal-body {
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $timberwolf;
        }
    }

    .modal-dialog {
        @include breakpoint-down(lg) {
            --bs-modal-width: 90% !important;
            min-width: auto!important;
        }
        @include breakpoint-down(md) {
            --bs-modal-width: 95% !important;
            min-width: auto!important;
        }
    }

    &#tryForFreeModal {
        .modal-dialog {
            min-width: 580px;
        }
    }
    &#getInTouchModal {
        .modal-dialog {
            min-width: 800px;
        }

        .sign-up-steps{
            @include breakpoint-down(md){
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
            }

            @include breakpoint-down(sm){
                grid-template-columns: 100%;
            }

            .sign-up-step-item{
                .icon-40{
                    @include breakpoint-down(md){
                        width: 32px;
                        height: 32px;
                        min-width: 32px;
                        min-height: 32px;
                    }
                }
            }
        }
    }
}

.form-elem-phone{
    display: grid;
    grid-template-columns: 68px auto;
}

.select2-container.select2-container--default {
    z-index: 1056;
}

.select2-container {
    .select2-selection.select2-selection--single {
        height: 52px;
        display: flex;
        align-items: center;
    }

    .select2-search__field{
        display: none!important;
    }
    .select2-results__options{
        @include scrollbar("y");

        .flag-icon{
            width: 45px!important;
        }

        
    }

    .select2-results__option{
        &__option--highlighted{
            background: color("primary")!important;
        }
    }

    &.select2-container--default .select2-selection__arrow{
        top: 12px!important;
        border-top-color: #121212!important;
    }
    &.select2-container--default .select2-selection__arrow b{
        border-top-color: #121212!important;
    }

    .select2-selection__rendered{
        padding-left: 16px!important;
        padding-right: 0!important;
    }

    &.select2-container--default .select2-selection--single{
        border: 0!important;
    }

    &.select2-container--open{
        &.select2-container--default .select2-selection__arrow b{
            border-bottom-color: #121212!important;
        }
    }

    .select2-dropdown{
        border-color: #e5e5e5!important;
    }
}
