.pagination-block{
    .page-link{
       width: 28px;
       min-width: 28px;
       height: 28px;
       min-height: 28px; 
       @include flex-center;
       border-radius: 6px;
       box-shadow: none!important;

       &:hover, &.active{
        background: color("p-green-50")!important;
        color: color("primary")!important;
       }
    }
}