// Default Color
$white: #fff;
$black: #000;

// Primary Brand Colors
$theme: #3bb24a;
$theme-light: lighten($theme, 20%);
$theme-dark: darken($theme, 20%);

// Alert Colors
$success: #01df82;
$info: #3eb1ff;
$warning: #ffce30;
$error: #ff5151;

// Grayscale Shades
$gray-50: #fafafa; // Lightest gray, almost white
$gray-100: #f0f0f0; // Very light gray
$gray-200: #e0e0e0; // Light gray
$gray-300: #cfcfcf; // Lighter medium gray
$gray-400: #b0b0b0; // Medium light gray
$gray-500: #8b8b8b; // Medium gray
$gray-600: #6f6f6f; // Darker medium gray
$gray-700: #505050; // Dark gray
$gray-800: #303030; // Darker gray
$gray-900: #1a1a1a; // Almost black
$gray-950: #0f0f0f; // Darkest gray, close to black

// Misc Colors
$night: #121212;
$gray: #757575;
$cadet-gray: #9e9e9e;
$timberwolf: #d1d1d1;
$antiflash-white: #f1f1f1;
$mdt-green-v1: #0d3f46;
$mdt-green-v2: #03353c;
$mdt-green-v3: #002b32;
$green-200: #a0d8a5;
$red-200: #ffab91;
$yellow-200: #ffe082;
$blue-200: #81d4fa;
$yellow-500: #ffca28;
$red-500: #fe4d16;
$light-cyprus: #c7e1e5;
$light-cyprus-50: #bdd7db;
$dark-cyprus: #0d3f46;
$p-green-50: #e9f2ed;
$p-green-700: #269137;
$nyanza: #edffcf;
$grey-1: #f5f5f5;
$grey-2: #e5e5e5;
$grey-3: #d1d1d1;
$grey-4: #9e9e9e;

// MAP OF ALL COLORS
$colors: (
  "primary": $theme,
  "primary-light": $theme-light,
  "primary-dark": $theme-dark,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "error": $error,
  "white": $white,
  "black": $black,
  "night": $night,
  "gray": $gray,
  "cadet-gray": $cadet-gray,
  "timberwolf": $timberwolf,
  "antiflash-white": $antiflash-white,
  "mdt-green-v1": $mdt-green-v1,
  "mdt-green-v2": $mdt-green-v2,
  "mdt-green-v3": $mdt-green-v3,
  "green-200": $green-200,
  "red-200": $red-200,
  "yellow-200": $yellow-200,
  "blue-200": $blue-200,
  "yellow-500": $yellow-500,
  "red-500": $red-500,
  "light-cyprus": $light-cyprus,
  "light-cyprus-50": $light-cyprus-50,
  "dark-cyprus": $dark-cyprus,
  "p-green-50": $p-green-50,
  "p-green-700": $p-green-700,
  "nyanza": $nyanza,
  "grey-1": $grey-1,
  "grey-2": $grey-2,
  "grey-3": $grey-3,
  "grey-4": $grey-4
);

$grayscale: (
  "gray-50": $gray-50,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "gray-950": $gray-950
);

// CSS CUSTOM PROPERTIES FOR COLORS
:root {
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }
  @each $name, $value in $grayscale {
    --color-#{$name}: #{$value};
  }
}

// UTILITY FUNCTION FOR COLOR RETRIEVAL
@function color($name, $map: $colors) {
  @if map-has-key($map, $name) {
    @return map-get($map, $name);
  }
  @warn "Color `#{$name}` not found in the specified map.";
  @return null;
}
