$sizes: (
  30: 10rem,    // 160px
  29: 9rem,     // 144px
  28: 8rem,     // 128px
  27: 7.5rem,   // 120px
  26: 7rem,     // 112px
  25: 6.5rem,   // 104px
  24: 6rem,     // 96px
  23: 5.75rem,  // 92px
  22: 5.5rem,   // 88px
  21: 5.25rem,  // 84px
  20: 5rem,     // 80px
  19: 4.75rem,  // 76px
  18: 4.5rem,   // 72px
  17: 4.25rem,  // 68px
  16: 4rem,     // 64px
  15: 3.75rem,  // 60px
  14: 3.5rem,   // 56px
  13: 3.25rem,  // 52px
  12: 3rem,     // 48px
  11: 2.75rem,  // 44px
  10: 2.5rem,   // 40px
  9: 2.25rem,   // 36px
  8: 2rem,      // 32px
  7: 1.75rem,   // 28px
  6: 1.5rem,    // 24px
  5: 1.25rem,   // 20px
  4: 1rem,      // 16px
  3: 0.75rem,   // 12px
  2: 0.5rem,    // 8px
  1: 0.25rem,   // 4px
  0: 0rem,      // 0px
);

$size-30: 10rem;
$size-29: 9rem;
$size-28: 8rem;
$size-27: 7.5rem;
$size-26: 7rem;
$size-25: 6.5rem;
$size-24: 6rem;
$size-23: 5.75rem;
$size-22: 5.5rem;
$size-21: 5.25rem;
$size-20: 5rem;
$size-19: 4.75rem;
$size-18: 4.5rem;
$size-17: 4.25rem;
$size-16: 4rem;
$size-15: 3.75rem;
$size-14: 3.5rem;
$size-13: 3.25rem;
$size-12: 3rem;
$size-11: 2.75rem;
$size-10: 2.5rem;
$size-9: 2.25rem;
$size-8: 2rem;
$size-7: 1.75rem;
$size-6: 1.5rem;
$size-5: 1.25rem;
$size-4: 1rem;
$size-3: 0.75rem;
$size-2: 0.5rem;
$size-1: 0.25rem;
$size-0: 0rem;

