// FONT STACK
$font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-default: $font-family-system;
$font-family-karla: "Karla", sans-serif;

// FONT CONFIGURATION
$font-sizes: (
  "2xs": 10px,
  "xs": 12px,
  "sm": 14px,
  "base": 16px,
  "lg": 18px,
  "xl": 20px,
  "2xl": 24px,
  "3xl": 28px,
  "4xl": 32px,
  "5xl": 36px,
  "6xl": 40px,
  "7xl": 44px,
  "8xl": 56px
);

// FONT WEIGHTS
$font-weights: (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900
);

// BASE FONT
$font-family-base: $font-family-karla;
$font-weight-base: map-get($font-weights, "semibold");
$font-size-base: map-get($font-sizes, "base");
// LEADING & TRACKING
$leading-base: 1.4;
$tracking-base: -0.03em;

// MEDIA BREAKPOINTS
$breakpoints-up: (
  "xs": "480px",
  "sm": "576px",
  "md": "768px",
  "lg": "992px",
  "xl": "1200px",
  "xxl": "1400px",
  "xxxl": "1536px"
);

$breakpoints-down: (
  "xs": "479.98px",
  "sm": "575.98px",
  "md": "767.98px",
  "lg": "991.98px",
  "xl": "1199.98px",
  "xxl": "1399.98px",
  "xxxl": "1535.98px",
);

// COLOR CONFIGURATION
$body-bg: $white !default;
$text-color: $gray !default;
$link-color: $gray;
$link-visited-color: $gray;
$link-decoration: none;
$link-hover-color: darken($link-color, 10%);
$link-active-color: darken($link-color, 10%);
$line-hover-decoration: underline;

@mixin font-settings($weight, $size, $line-height: $leading-base, $tracking: $tracking-base) {
  font-weight: map-get($font-weights, $weight);
  font-size: map-get($font-sizes, $size);
  line-height: $line-height;
  letter-spacing: $tracking;
}

// Z-INDEX
$z-low: 10;
$z-mid: 100;
$z-high: 1000;

/* #### TYPOGRAPHY VARIABLES #### */
$paragraph-margin-bottom: 0;

// Headings Configuration Map
$headings-config: (
  "margin-bottom": 0,
  "font-family": $font-family-base,
  "font-weight": map-get($font-weights, "bold"),
  "line-height": 1.2,
  "color": $night,
  "font-sizes": (
    "h1": 2 * $font-size-base,
    "h2": 1.5 * $font-size-base,
    "h3": 1.17 * $font-size-base,
    "h4": 1 * $font-size-base,
    "h5": 0.83 * $font-size-base,
    "h6": 0.67 * $font-size-base
  )
);

// Mixin to Apply Heading Styles
@mixin heading-styles($level) {
  margin-bottom: map-get($headings-config, "margin-bottom");
  font-family: map-get($headings-config, "font-family");
  font-weight: map-get($headings-config, "font-weight");
  line-height: map-get($headings-config, "line-height");
  color: map-get($headings-config, "color");
  font-size: map-get(map-get($headings-config, "font-sizes"), $level);
}


// Z-INDEX
$z-index: (
  "pothole": -1,
  "basement": 0,
  "sidewalk": 1,
  "bungalow": 40,
  "bungalow-chimney": 50,
  "house": 60,
  "tower": 70,
  "skyscrapper": 80,
  "sky": 90,
  "satellite": 100,
  "dropdown": 1000,
  "fixed": 1010,
  "tooltip": 1020,
  "alert": 1030,
  "modal": 1100
);

// TRANSITIONS AND EASING
$default-transition-timing: ease-in-out;
$default-transition-duration: 300ms;
$default-transition: all $default-transition-timing $default-transition-duration;
$easing-functions: (
  in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
  in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19),
  in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22),
  in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06),
  in-sine: cubic-bezier(0.47, 0, 0.745, 0.715),
  in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035),
  in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335),
  in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045),
  out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
  out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1),
  out-quart: cubic-bezier(0.165, 0.84, 0.44, 1),
  out-quint: cubic-bezier(0.23, 1, 0.32, 1),
  out-sine: cubic-bezier(0.39, 0.575, 0.565, 1),
  out-expo: cubic-bezier(0.19, 1, 0.22, 1),
  out-circ: cubic-bezier(0.075, 0.82, 0.165, 1),
  out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275),
  in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955),
  in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1),
  in-out-quart: cubic-bezier(0.77, 0, 0.175, 1),
  in-out-quint: cubic-bezier(0.86, 0, 0.07, 1),
  in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95),
  in-out-expo: cubic-bezier(1, 0, 0, 1),
  in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86),
  in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55)
);

@each $name, $value in $easing-functions {
  .ease-#{$name} {
    transition-timing-function: #{$value};
  }
}

$img-path: "../images/" !default; // Usage: background: url('#{$img-path}/img.jpg') 0 0 no-repeat;
$max-width: 1320px;


