.atel-footer {
    position: relative;
    .footer-segment-main {
        grid-template-columns: 408px auto;
        gap: 60px;

        @include breakpoint-down(xl) {
            gap: 36px !important;
            grid-template-columns: 360px auto;
        }

        @include breakpoint-down(lg) {
            grid-template-columns: 100% !important;
        }
    }

    .footer-segment-cta {
        background: url($img-path + "cta.png") center/cover no-repeat;
        min-height: 540px;
        padding: 60px 34px;
        border-radius: 36px;

        @include breakpoint-down(xl) {
            padding: 32px 24px;
            border-radius: 28px;
            min-height: 500px;
        }

        @include breakpoint-down(lg) {
            min-height: auto;
            padding: 24px 16px;
            border-radius: 20px;
        }

        .cta-call-ttl{
            @include breakpoint-down(sm){
                margin-top: 20px!important;
                max-width: 300px!important;
                margin-right: auto;
                margin-left: auto;
            }
        }

        .cta-call-icon {
            max-width: 80px;
        }

        .cta-call-btns {
            @include breakpoint-down(sm){
                margin-top: 24px!important;
                width: 100%;
            }

            .btn-white-black {
                &:hover {
                    background: color("p-green-50") !important;
                }
            }
        }
    }

    .footer-segment-links {
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);

        @include breakpoint-down(sm){
            @include breakpoint-down(sm){
                grid-template-columns: repeat(1, 1fr)!important;
            }
        }

        .footer-links-list{
            @include breakpoint-down(sm){
                row-gap: 4px!important;
            }
        }

        & > .footer-links-block{
            .footer-links-list{
                @include breakpoint-down(sm){
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 12px;
                }
            }
        }

        .footer-links-block-group{
            @include breakpoint-down(sm){
                grid-template-columns: repeat(2, 1fr);
                column-gap: 12px;
            }
        }
    }

    .footer-segment-contact {
        @include breakpoint-down(md) {
            flex-direction: column;
        }

        .contact-info-group{
            @include breakpoint-down(sm) {
                justify-content: center;
                gap: 12px!important;
            }

            .contact-info-item{
                span{
                    transition: $default-transition;
                }
                &:hover{
                    span{
                        color: color("primary")!important;
                    }
                }
            }
        }
    }

    .footer-segment-bottom {
        @include breakpoint-down(lg) {
            flex-direction: column;
            gap: 20px;
        }

        @include breakpoint-down(sm){
            padding-top: 0!important;
            gap: 12px;
        }

        .tac-list{
            @include breakpoint-down(lg){
                justify-content: center;
            }

            @include breakpoint-down(md){
                column-gap: 12px!important;
                row-gap: 4px!important;
            }
        }
    }

    .footer-links-block{
        .footer-link-elem, a{
            transition: $default-transition;
            &:hover{
                opacity: 1!important;
                color: color("white")!important;
                text-decoration: underline;
            }
        }
    }

    .contact-social-link{
        &-item{
            transition: $default-transition;
            &:hover{
                background: color("primary")!important;
                border-radius: 4px;
                box-shadow: map-get($shadows, "sm");
                img{
                    filter: invert(1) brightness(100);
                }
            }
        }
    }

    .tac-list{
        .tac-link{
            transition: $default-transition;
            &:hover{
                color: color("white")!important;
                text-decoration: underline;
            }
        }
    }
}
