.atel-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 100ms ease-in-out;

    &.atel-header-fixed {
        position: fixed;
        background: color("white");
    }
}

.atel-top-banner {
    &.atel-home-pg {
        min-height: 100vh;
        background: url($img-path + "home/home_top_banner.png") center/cover no-repeat;
        @include flex-center;

        .top-banner-segment {
            height: 100vh;
            min-height: 800px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include breakpoint-down(xl) {
                height: auto !important;
                margin: 80px auto;
            }
        }

        .top-banner {
            &-text-group {
                max-width: 660px;

                @include breakpoint-down(xxl) {
                    max-width: 580px;
                }

                @include breakpoint-down(sm) {
                    margin-bottom: 24px !important;
                }
            }

            &-rating {
                .h-separator-line {
                    width: 1px;
                    height: 33px;
                }
            }
            &-calls {
                max-width: 360px;
                left: 0;
                bottom: 113px;

                @include breakpoint-down(xxl) {
                    max-width: 320px;
                }

                @include breakpoint-down(xl) {
                    position: relative !important;
                    display: none;
                }
            }
        }

        .top-banner-audio {
            bottom: 80px;

            @include breakpoint-down(xl) {
                position: relative !important;
                bottom: 0;
                margin-top: 40px;
                display: flex;
                justify-content: center;
            }

            @include breakpoint-down(sm) {
                margin-top: 28px !important;
            }

            .audio-player {
                position: absolute;
                bottom: 30px;
                left: -100px;
                box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.08);

                @include breakpoint-down(lg) {
                    left: 50%;
                    transform: translateX(-50%);
                    width: 280px;
                }
            }

            .audio-img {
                max-width: 288px;

                @include breakpoint-down(xxl) {
                    max-width: 240px;
                }
            }

            .audio-play-progress {
                height: 8px;
                width: 96px;

                &-bar {
                    height: 8px;
                }
            }
        }
    }

    // COMMON BANNER STYLINGS
    .top-banner {
        &-ttl {
            font-size: 56px;
            line-height: 1.1;

            @include breakpoint-down(xl) {
                font-size: 48px;
            }

            @include breakpoint-down(lg) {
                font-size: 44px;
            }

            @include breakpoint-down(md) {
                font-size: 40px;
            }

            @include breakpoint-down(sm) {
                font-size: 36px;
            }

            @include breakpoint-down(xs) {
                font-size: 32px;
            }
        }
    }

    &.atel-solution-pg,
    &.atel-onpremises-pg,
    &.atel-product-sms-pg {
        background: url($img-path + "solution/solution_banner.svg") center/cover no-repeat;
        min-height: 638px;
        padding-top: 80px;

        .top-banner {
            &-text-group {
                max-width: 700px;

                @include breakpoint-down(lg) {
                    text-align: center;
                }
            }

            &-segment {
                grid-template-columns: 55% auto;

                @include breakpoint-down(lg) {
                    grid-template-columns: 1fr;
                }
            }

            &-img {
                @include breakpoint-down(lg) {
                    max-width: 520px;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }

    &.atel-office-ivr-pg {
        background: url($img-path + "ivr_solution/office_ivr_solutions_banner.svg") center/cover no-repeat;
        min-height: 800px;
        padding-top: 80px;

        .top-banner {
            &-text-group {
                max-width: 1062px;
            }

            &-video {
                max-width: 1062px;
            }
        }
    }

    &.atel-vc-campaign-pg {
        background: url($img-path + "vc_campaign/vc_campaign_banner.svg") center/cover no-repeat;
        min-height: 638px;
        padding-top: 80px;

        .top-banner {
            &-text-group {
                max-width: 700px;

                @include breakpoint-down(lg) {
                    text-align: center;
                }
            }

            &-segment {
                grid-template-columns: 55% auto;

                @include breakpoint-down(lg) {
                    grid-template-columns: 1fr;
                }
            }

            &-img {
                @include breakpoint-down(lg) {
                    max-width: 520px;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }

    &.atel-top-banner-invert {
        .top-banner {
            &-ttl,
            &-lead {
                color: color("white") !important;
            }
        }
    }

    &.atel-product-sms-pg {
        background: url($img-path + "product_sms/product_sms_banner.svg") center/cover no-repeat;
        min-height: 684px;

        .top-banner{
            &-segment{
                grid-template-columns: 57% auto;
            }

            &-text-group{
                max-width: 730px;
            }
        }
    }
}
