.atel-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 100ms ease-in-out;
    background: transparent;

    & > .container {
        max-width: 1400px !important;
    }

    &.atel-header-fixed {
        position: fixed;
        background: color("white");
    }
}

.atel-top-banner {
    &.atel-home-pg {
        min-height: 100vh;
        background: url($img-path + "home/home_top_banner.png") center/cover no-repeat;
        @include flex-center;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            width: 100%;
            height: 100px;
            background: color("p-green-50");
        }

        .top-banner-segment {
            height: 100vh;
            min-height: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include breakpoint-down(xl) {
                height: auto !important;
                margin: 80px auto;
            }

            @include breakpoint-down(lg) {
                margin: 60px auto;
            }

            @include breakpoint-down(sm) {
                margin: 40px auto;
            }

            @include breakpoint-down(sm) {
                margin: 20px auto;
            }
        }

        .top-banner {
            &-text-group {
                max-width: 660px;

                @include breakpoint-down(xxl) {
                    max-width: 580px;
                }

                @include breakpoint-down(sm) {
                    margin-bottom: 24px !important;
                }
            }

            &-rating {
                .h-separator-line {
                    width: 1px;
                    height: 33px;
                }
            }
            &-calls {
                max-width: 360px;
                left: 0;
                bottom: 113px;

                @include breakpoint-down(xxl) {
                    max-width: 320px;
                }

                @include breakpoint-down(xl) {
                    position: relative !important;
                    display: none;
                }

                &-wrapper {
                    @include breakpoint-down(sm) {
                        width: 100%;
                    }
                }
            }
        }

        .top-banner-audio {
            bottom: 80px;

            @include breakpoint-down(xl) {
                position: relative !important;
                bottom: 0;
                margin-top: 40px;
                display: flex;
                justify-content: center;
            }

            @include breakpoint-down(sm) {
                margin-top: 28px !important;
            }

            .audio-player {
                position: absolute;
                bottom: 30px;
                left: -100px;
                box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.08);

                @include breakpoint-down(lg) {
                    left: 50%;
                    transform: translateX(-50%);
                    width: 280px;
                }

                @include breakpoint-down(xs) {
                    width: 90%;
                    bottom: 20px;
                }
            }

            .audio-play-file {
                display: none;
            }

            .audio-img {
                max-width: 288px;

                @include breakpoint-down(xxl) {
                    max-width: 240px;
                }

                @include breakpoint-down(sm) {
                    max-width: 100%;
                }
            }

            .audio-play-progress {
                height: 8px;
                width: 96px;

                @include breakpoint-down(lg){
                    width: 100%;
                }

                &-bar {
                    height: 8px;
                }
            }

            .audio-dots-btn {
                position: relative;

                &:hover {
                    opacity: 1 !important;
                }

                .audio-options-dropdown {
                    background: color("white");
                    position: absolute;
                    top: 100%;
                    right: 0;
                    padding: 10px;
                    border-radius: 8px;
                    width: 140px;
                }

                .audio-options-list {
                    padding: 0;
                    margin: 0;
                }

                .audio-option {
                    color: color("primary");
                    font-size: 12px;
                    padding: 6px 0;
                    border-radius: 6px;

                    &:hover {
                        background: color("p-green-50");
                    }
                }
            }
        }
    }

    // COMMON BANNER STYLINGS
    .top-banner {
        &-ttl {
            font-size: 56px;
            line-height: 1.1;

            @include breakpoint-down(xl) {
                font-size: 48px;
            }

            @include breakpoint-down(lg) {
                font-size: 44px;
            }

            @include breakpoint-down(md) {
                font-size: 40px;
            }

            @include breakpoint-down(sm) {
                font-size: 36px;
            }

            @include breakpoint-down(xs) {
                font-size: 32px;
            }
        }
    }

    &.atel-solution-pg,
    &.atel-onpremises-pg,
    &.atel-product-sms-pg {
        background: url($img-path + "solution/solution_banner.svg") center/cover no-repeat;
        min-height: 638px;
        padding-top: 80px;

        @include breakpoint-down(sm) {
            padding-top: 72px;
        }

        @include breakpoint-down(xs) {
            padding-top: 60px;
        }

        .top-banner {
            &-text-group {
                max-width: 700px;

                @include breakpoint-down(lg) {
                    text-align: center;
                }
            }

            &-segment {
                grid-template-columns: 55% auto;

                @include breakpoint-down(lg) {
                    grid-template-columns: 1fr;
                    gap: 24px !important;
                }
            }

            &-img {
                @include breakpoint-down(lg) {
                    max-width: 520px;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }

    &.atel-office-ivr-pg {
        background: url($img-path + "ivr_solution/office_ivr_solutions_banner.svg") center/cover no-repeat;
        min-height: 800px;
        padding-top: 80px;

        @include breakpoint-down(lg){
            min-height: 770px;
        }

        @include breakpoint-down(md){
            min-height: 700px;
        }

        @include breakpoint-down(sm) {
            padding-top: 72px;
            min-height: 650px;
        }

        @include breakpoint-down(xs) {
            padding-top: 60px;
            min-height: 600px;
        }

        .top-banner {
            &-text-group {
                max-width: 1062px;
            }

            &-video {
                max-width: 1062px;
            }
        }
    }

    &.atel-vc-campaign-pg {
        background: url($img-path + "vc_campaign/vc_campaign_banner.svg") center/cover no-repeat;
        min-height: 638px;
        padding-top: 80px;

        .top-banner {
            &-text-group {
                max-width: 700px;

                @include breakpoint-down(lg) {
                    text-align: center;
                }
            }

            &-segment {
                grid-template-columns: 55% auto;

                @include breakpoint-down(lg) {
                    grid-template-columns: 1fr;
                }
            }

            &-img {
                @include breakpoint-down(lg) {
                    max-width: 520px;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }

    &.atel-top-banner-invert {
        .top-banner {
            &-ttl,
            &-lead {
                color: color("white") !important;
            }
        }
    }

    &.atel-product-sms-pg {
        background: url($img-path + "product_sms/product_sms_banner.svg") center/cover no-repeat;
        min-height: 684px;

        .top-banner {
            &-segment {
                grid-template-columns: 57% auto;

                @include breakpoint-down(lg) {
                    grid-template-columns: 1fr;
                }
            }

            &-text-group {
                max-width: 730px;
            }
        }
    }

    &.atel-whatsapp-business-pg {
        padding-top: 80px;

        @include breakpoint-down(sm) {
            padding-top: 72px;
        }

        @include breakpoint-down(xs) {
            padding-top: 60px;
        }

        & > .container {
            max-width: 1400px !important;
        }

        .top-banner {
            &-segment {
                min-height: 640px;
                border-radius: 40px;
                overflow: hidden;
                background: url($img-path + "whatsapp_business/whatsapp_api_banner.png") center/cover no-repeat;
                padding: 80px;

                @include breakpoint-down(xl) {
                    padding: 60px;
                    border-radius: 32px;
                }

                @include breakpoint-down(lg) {
                    padding: 60px 40px;
                    border-radius: 24px;
                }

                @include breakpoint-down(md) {
                    padding: 40px 24px;
                }

                @include breakpoint-down(sm) {
                    padding: 32px 16px;
                }
            }

            &-text-group {
                max-width: 440px;

                @include breakpoint-down(lg) {
                    margin-right: auto;
                    margin-left: auto;
                    text-align: center;
                }
            }

            &-img {
                max-width: 388px;
                margin-left: auto;

                @include breakpoint-down(xl) {
                    max-width: 320px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

.atel-blogs-pg {
    margin-top: 80px;
    position: relative;

    @include breakpoint-down(sm) {
        margin-top: 72px;
    }

    @include breakpoint-down(xs) {
        margin-top: 60px;
    }

    & > .container {
        position: relative;

        & > * {
            position: relative;
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            top: -60px;
            right: -40px;
            width: 100%;
            height: 100%;
            background: url($img-path + "light_right_sided_wave.svg") no-repeat;
            z-index: 0;
            background-size: 693px;
            background-position: top right;

            @include breakpoint-down(xxl) {
                right: 0px;
            }

            @include breakpoint-down(lg) {
                background-size: 600px;
            }

            @include breakpoint-down(md) {
                background-size: 520px;
            }

            @include breakpoint-down(sm) {
                background-size: 480px;
            }

            @include breakpoint-down(xs) {
                background-size: 360px;
            }
        }
    }
}

.atel-blogs-details-pg {
    margin-top: 80px;
    position: relative;

    @include breakpoint-down(sm) {
        margin-top: 72px;
    }

    @include breakpoint-down(xs) {
        margin-top: 60px;
    }
}
