// NAVBAR
$navbar-height-desktop: 80px;
$navbar-height-mobile: 80px;
$navbar-bg: transparent;
$navbar-link-color: $gray;
$navbar-hover-link-color: darken($gray, 10%);
$z-index-navbar: 1000;
$z-index-navbar-toggler: 1010;


