// NAVBAR
$navbar-height-desktop: 80px;
$navbar-height-mobile: 80px;
$navbar-bg: transparent;
$navbar-link-color: $gray;
$navbar-hover-link-color: darken($gray, 10%);
$z-index-navbar: 1000;
$z-index-navbar-toggler: 1010;

.atel-navbar {
  min-height: $navbar-height-desktop;
  @include flex-center-vert;

  &-menu {
    position: relative;

    &-parent {
      @include breakpoint-down(lg) {
        position: fixed;
        top: 0;
        right: 0;
        padding: 16px !important;
        background: color("white");
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transform: translateX(100%);
        transition: $default-transition;
        z-index: $z-index-navbar;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        &.show{
          transform: translateX(0);
          transition: $default-transition;
          @include breakpoint-down(lg) {
            overflow-y: auto;
          }
        }
      }
    }

    @include breakpoint-down(lg) {
      padding: 0;
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      gap: 8px;
      max-height: 100vh;
      overflow-y: scroll;
      @include scrollbar("y");
    }
  }

  &-btns {
    gap: 6px;
    @include breakpoint-down(lg) {
      display: none !important;
    }
  }

  .navbar-brand {
    max-width: 152px;
    display: inline-flex;
  }

  .menu-item {
    padding: 0 10px;

    @include breakpoint-down(lg) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 12px;
    }

    &-wrapper {
      @include breakpoint-down(lg) {
        border-bottom: 2px solid color("grey-2");
        width: 100%;
      }

      &:has(.submenu-item-block.show) {
        @include breakpoint-down(lg) {
          padding-bottom: 20px;
        }
      }
    }
  }

  .submenu-item-block {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -150%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    transition: $default-transition;

    @include breakpoint-down(xl) {
      max-width: 800px !important;
    }

    @include breakpoint-down(lg) {
      position: relative;
      top: 2px;
      left: 0;
      transform: none !important;
      width: 100% !important;
      max-height: 0;
      overflow: hidden;
      transition: $default-transition;
      border-radius: 4px !important;
      max-width: calc(100% - 32px) !important;
      margin-right: auto;
      margin-left: auto;
    }

    @include breakpoint-down(sm){
      max-width: 100%!important;
    }

    &.show {
      transform: translate(-50%, 0%);

      @include breakpoint-down(lg) {
        max-height: 1000px;
      }
    }

    &.products-nav {
      width: 920px;

      .submenu {
        &-item {
          @include breakpoint-down(xl) {
            padding: 8px !important;
          }

          @include breakpoint-down(lg) {
            margin-bottom: 8px;
          }

          & + .submenu-grid-sp-wrapper {
            display: none !important;

            @include breakpoint-down(lg) {
              display: grid !important;
              max-height: 0;
              overflow: hidden;
              transition: $default-transition;

              &.show {
                max-height: 1000px;
              }
            }
          }

          &.active,
          &:hover {
            background: color("p-green-50") !important;
            transition: $default-transition;

            .submenu-item-chevron {
              display: inline-flex !important;
            }
          }

          &-chevron {
            display: none;
          }
        }

        &-list {
          @include breakpoint-down(xl) {
            padding: 12px !important;
          }
        }

        &-grid {
          @include breakpoint-down(xl) {
            padding: 12px !important;
          }

          @include breakpoint-down(sm){
            padding: 8px!important;
          }
        }

        &-item-main {
          grid-template-columns: 1fr 2fr;
          background: color("white");

          @include breakpoint-down(lg) {
            grid-template-columns: 100%;
          }
        }

        &-grid-item {
          padding: 6px 8px;

          @include breakpoint-down(xl) {
            padding: 4px 8px !important;
          }
        }
      }
    }

    &.solutions-nav {
      width: 940px;

      .submenu-item {
        &-main {
          @include breakpoint-down(xl) {
            padding: 12px !important;
            gap: 12px !important;
          }

          @include breakpoint-down(lg){
            gap: 0!important;
          }

          @include breakpoint-down(sm){
            padding: 8px!important;
          }
        }
      }

      .submenu-grid {
        padding-right: 20px;
        border-right: 1px solid color("grey-2");

        @include breakpoint-down(xl) {
          padding-right: 12px !important;
        }
        
        @include breakpoint-down(lg){
          border-right: 0;
          &-ttl-btn{
            margin-bottom: 0!important;
            cursor: pointer;
          }
        }

        &:last-child {
          padding-right: 0;
          border-right: 0;
        }

        &-item {
          cursor: pointer;

          @include breakpoint-down(xl) {
            padding: 4px 8px !important;
          }

          &:hover {
            background: color("p-green-50");
          }
        }

        &-list{
          @include breakpoint-down(lg){
            grid-template-columns: repeat(2, 1fr);
            max-height: 0;
            overflow: hidden;
            transition: $default-transition;

            &.show{
              max-height: 1000px;
            }
          }

          @include breakpoint-down(sm){
            grid-template-columns: 100%;
          }
        }
      }
    }

    &.developers-nav {
      width: 840px;

      .submenu-item {
        &-main {
          @include breakpoint-down(xl) {
            gap: 12px !important;
          }

          @include breakpoint-down(lg){
            grid-template-columns: 100%;
            gap: 0!important;
          }
        }
      }

      .submenu-grid {
        @include breakpoint-down(xl) {
          padding: 12px !important;
        }

        @include breakpoint-down(sm){
          padding: 8px!important;
        }

        &-head{
          @include breakpoint-down(lg){
            margin-bottom: 0!important;
          }
        }

        &-list {
          gap: 12px !important;

          @include breakpoint-down(lg){
            gap: 4px!important;
            grid-template-columns: repeat(2, 1fr);
          }
        }

        &-item {
          @include breakpoint-down(lg){
            padding: 4px!important;
          }

          a {
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

    &.resources-nav {
      width: 506px;

      .submenu-grid {
        &-item {
          a {
            transition: $default-transition;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }

      .submenu-item {
        &-main {
          @include breakpoint-down(xl) {
            padding: 12px !important;
          }

          @include breakpoint-down(sm){
            padding: 8px!important;
          }
        }

        &-foot-text {
          max-width: 206px;
        }
      }

      .btn-try-for-free {
        min-width: 130px;
      }
    }
  }

  .submenu-item-foot{
    padding: 12px!important;
  }
}

.atel-header {
  &:not(.atel-header-fixed) {
    .atel-navbar {
      &.atel-navbar-invert {
        .menu-item {
          &-text {
            color: color("white");
          }

          &-icon {
            img {
              filter: invert(0) brightness(100);
            }
          }
        }
      }
    }
  }
}

.btn-navbar-menu-close{
  transition: $default-transition;
  &:hover{
    opacity: 0.9;
    scale: 1.1;
  }
}

// NAVBAR
.submenu-01-body-list {
  .submenu-01-body-item {
    display: none !important;
    visibility: hidden;
    opacity: 0;
    transition: $default-transition;

    &.show {
      display: grid !important;
      visibility: visible;
      opacity: 1;
    }
  }

  @include breakpoint-down(lg) {
    display: none !important;
  }
}
