::selection {
  background: color("primary") !important;
  color: color("white");
  text-shadow: none;
}
::-moz-selection {
  background: color("primary");
  color: color("white");
  text-shadow: none;
}
::-webkit-selection {
  background: color("primary");
  color: color("white");
  text-shadow: none;
}
