.atel-blogs-pg,
.atel-blogs-details-pg {
    .blogs-segment {
        &-jumbotron {
            .card-grid {
                .card-body {
                    @include breakpoint-down(lg) {
                        padding: 0 !important;
                    }
                }

                @include breakpoint-down(lg) {
                    gap: 28px;
                }

                @include breakpoint-down(sm) {
                    gap: 20px;
                }
            }
        }
    }

    .blogs-category {
        &-btns {
            @include breakpoint-down(sm) {
                gap: 6px !important;
            }
        }

        &-btn {
            transition: $default-transition;

            @include breakpoint-down(sm) {
                padding: 2px 8px !important;
                border-radius: 6px !important;
            }

            &:hover,
            &.active {
                background: color("primary") !important;
                color: color("white") !important;
            }
        }
    }
}

.atel-blogs-details-pg {
    .blogs-segment-jumbotron {
        .card-grid {
            grid-template-columns: 4fr 6fr;

            @include breakpoint-down(xl) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include breakpoint-down(lg) {
                grid-template-columns: 100%;
                gap: 16px !important;
            }

            @include breakpoint-down(sm) {
                gap: 4px !important;
            }
        }
    }

    .blogs-segment-details {
        grid-template-columns: 305px auto;

        @include breakpoint-down(xl) {
            grid-template-columns: 280px auto;
        }

        @include breakpoint-down(lg) {
            grid-template-columns: 100%;
            gap: 24px;
        }

        @include breakpoint-down(sm) {
            gap: 20px;
        }

        @include breakpoint-down(xs) {
            gap: 16px;
        }
    }

    .blogs-details-content {
        .content-stylings {
            padding: 10px 60px 10px 120px;

            @include breakpoint-down(xxxl) {
                padding: 10px 40px 10px 100px;
            }

            @include breakpoint-down(xxl) {
                padding: 10px 24px 10px 80px;
            }

            @include breakpoint-down(xl) {
                padding: 10px 20px 10px 40px;
            }

            @include breakpoint-down(lg) {
                padding: 0;
            }
        }
    }

    .blogs-details-bookmark {
        @include breakpoint-down(sm) {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .blogs-bookmark-item {
            transition: $default-transition;

            a {
                transition: $default-transition;
                &:hover,
                &.active {
                    background: color("p-green-50");
                    color: color("night");
                }

                @include breakpoint-down(lg) {
                    border-radius: 12px !important;
                }

                @include breakpoint-down(sm) {
                    border-radius: 8px !important;
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                }
            }
        }
    }
}

.content-stylings {
    font-size: 18px !important;
    font-weight: 600;
    letter-spacing: -0.03em;
    color: color("night");
    font-family: $font-family-karla;

    @include breakpoint-down(lg) {
        font-size: 16px !important;
    }

    @include breakpoint-down(md) {
        font-size: 14px !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 28px !important;
        margin-top: 0 !important;
        letter-spacing: -0.04em;

        @include breakpoint-down(lg) {
            margin-bottom: 24px !important;
        }

        @include breakpoint-down(md) {
            margin-bottom: 20px !important;
        }
    }

    h1 {
        font-size: 44px !important;

        @include breakpoint-down(lg) {
            font-size: 40px !important;
        }

        @include breakpoint-down(md) {
            font-size: 36px !important;
        }
    }

    h2 {
        font-size: 40px;

        @include breakpoint-down(lg) {
            font-size: 36px !important;
        }

        @include breakpoint-down(md) {
            font-size: 32px !important;
        }
    }

    h3 {
        font-size: 32px !important;

        @include breakpoint-down(lg) {
            font-size: 28px !important;
        }

        @include breakpoint-down(md) {
            font-size: 24px !important;
        }
    }

    h4 {
        font-size: 24px !important;

        @include breakpoint-down(lg) {
            font-size: 20px !important;
        }

        @include breakpoint-down(md) {
            font-size: 18px !important;
        }
    }

    h5 {
        font-size: 20px !important;

        @include breakpoint-down(lg) {
            font-size: 18px !important;
        }

        @include breakpoint-down(md) {
            font-size: 16px !important;
        }
    }

    p {
        font-size: 18px !important;
        color: color("night") !important;

        @include breakpoint-down(lg) {
            font-size: 16px !important;
        }

        @include breakpoint-down(md) {
            font-size: 14px !important;
        }
    }

    img {
        margin-top: 48px;
        margin-bottom: 48px;
        border-radius: 20px;

        @include breakpoint-down(md) {
            margin-top: 24px;
            margin-bottom: 24px;
            border-radius: 16px;
        }

        @include breakpoint-down(sm) {
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 12px;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 24px;

        &:has(+ p) {
            margin-bottom: 12px !important;
        }

        &:has(+ ul) {
            margin-bottom: 12px !important;
        }
    }

    ul {
        list-style-type: disc !important;
        padding-left: 28px !important;

        @include breakpoint-down(lg) {
            padding-left: 24px !important;
        }

        @include breakpoint-down(md) {
            padding-left: 20px !important;
        }

        @include breakpoint-down(sm) {
            padding-left: 16px !important;
        }

        &:not([class]) > li::marker {
            color: color("night");
        }
    }
}


.single-post{
    .atel-lt-blogs{
        &::after{
            display: none!important;
        }
    }
}