.atel-office-ivr-vid {
    margin-top: -290px;

    .segment-office-ivr-vid {
        max-width: 1062px;
        min-height: 521px;

        .vid-play-btn {
            background: rgba-color($night, 0.4);
            transform: translate(-50%, -50%);

            &:hover {
                background: color("primary");
            }
        }
    }
}

.atel-system-work {
    .segment-system-work {
        grid-template-columns: 40% auto;
        gap: 40px;

        @include breakpoint-down(lg) {
            grid-template-columns: 100%;
        }
    }
}

.atel-call-solution {
    background: url($img-path + "ivr_solution/calling_banner.svg") center/cover no-repeat;
}

.atel-automation-solution {
    background: url($img-path + "ivr_solution/automation_banner.svg") center/cover no-repeat;
}

.atel-faq {
    .segment-heading {
        max-width: 600px;
        margin-left: 0 !important;

        .segment-img {
            max-width: 80px;
        }
    }

    .segment-faq {
        grid-template-columns: 28% auto;
        max-width: 1162px;
        margin-right: auto;
        margin-left: auto;

        @include breakpoint-down(lg) {
            grid-template-columns: 100%;
            gap: 20px !important;
        }
    }

    .accordion {
        &-button {
            &::after {
                display: block!important;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23757575'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }
        }
    }
}
