.atel-office-ivr-vid {
    margin-top: -290px;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 45%;
        width: 100%;
        background: color("white");
    }

    .segment-office-ivr-vid {
        max-width: 1062px;
        min-height: 521px;
        z-index: 2;

        .vid-play-btn {
            background: rgba-color($night, 0.4);
            transform: translate(-50%, -50%);

            &:hover {
                background: color("primary");
            }
        }
    }
}

.atel-system-work {
    .segment-system-work {
        grid-template-columns: 40% auto;
        gap: 40px;

        @include breakpoint-down(lg) {
            grid-template-columns: 100%;
        }
    }
}

.atel-call-solution {
    background: url($img-path + "ivr_solution/calling_banner.svg") center/cover no-repeat;
}

.atel-automation-solution {
    background: url($img-path + "ivr_solution/automation_banner.svg") center/cover no-repeat;
}

.atel-faq {
    .segment-heading {
        max-width: 600px;
        margin-left: 0 !important;

        .segment-img {
            max-width: 80px;
        }
    }

    .segment-faq {
        grid-template-columns: 28% auto;
        max-width: 1162px;
        margin-right: auto;
        margin-left: auto;

        @include breakpoint-down(lg) {
            grid-template-columns: 100%;
            gap: 20px !important;
        }
    }
}
