.atel-partners{
    .partners-item{
        transition: $default-transition;
        &:hover{
            scale: 1.1;
        }
    }

    .partners-list{
        @include breakpoint-down(sm){
            gap: 28px!important;
        }

        @include breakpoint-down(xs){
            gap: 20px!important;
        }
    }
}