.atel-benefits {
    margin-top: -76px;

    @include breakpoint-down(lg) {
        margin-top: -48px;
    }

    &-segment{
        max-width: 1064px;
        margin-right: auto;
        margin-left: auto;
    }

    .benefits-item {
        position: relative;

        @include breakpoint-down(xs){
            padding-top: 8px!important;
            padding-bottom: 8px!important;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            background: color("grey-3");
            height: 80px;
        }

        &:nth-child(1) {
            .benefits-item-icon {
                max-width: 48px;
            }
        }

        &:nth-child(2) {
            .benefits-item-icon {
                max-width: 40px;
            }
        }

        &:nth-child(3) {
            .benefits-item-icon {
                max-width: 86px;
            }
        }

        &:nth-child(4) {
            .benefits-item-icon {
                max-width: 56px;
            }
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        &:nth-child(even) {
            @include breakpoint-down(md) {
                &::after {
                    display: none;
                }
            }
        }

        @include breakpoint-down(xs) {
            &::after {
                display: none;
            }
        }
    }
}

.atel-sms-gateway {
    .atel-sms-gateway-segment {
        gap: 80px;

        @include breakpoint-down(xxl) {
            gap: 60px;
        }

        @include breakpoint-down(xl) {
            gap: 40px;
        }

        @include breakpoint-down(sm) {
            gap: 24px;
        }

        .sms-gateway-btns {
            @include breakpoint-down(sm) {
                flex-direction: column;
            }
            .btn {
                min-width: 180px;
            }
        }
    }
}

.atel-sms-features {
    .atel-sms-features-segment {
        max-width: 1064px;
    }

    .sms-features-list {
        @include breakpoint-down(lg) {
            gap: 24px !important;
        }

        @include breakpoint-down(sm) {
            gap: 16px !important;
        }

        @include breakpoint-down(xs) {
            gap: 12px !important;
        }
    }

    .sms-features-item {
        transition: $default-transition;
        &:hover {
            background: color("primary") !important;
            border-color: darken(color("primary"), 5%) !important;

            p,
            h3 {
                color: color("white") !important;
            }

            .btn {
                background: color("white") !important;
            }
        }

        @include breakpoint-down(lg) {
            padding: 20px !important;
        }

        @include breakpoint-down(sm) {
            padding: 16px !important;
        }
    }
}

.atel-textline-working {
    .textline-list {
        .textline-item {
            position: relative;

            @include breakpoint-down(md) {
                text-align: center;
                margin-bottom: 60px;
            }

            @include breakpoint-down(sm) {
                margin-bottom: 36px;
            }

            &::after {
                position: absolute;
                content: "";
                bottom: -36px;
                height: 36px;
                width: 1px;
                border-left: 1px dashed color("primary");
                left: 50%;
                transform: translateX(-50%);

                @include breakpoint-up(sm) {
                    display: none;
                }
            }

            &:last-child {
                .textline-item-dotted-line {
                    display: none !important;
                }
            }

            &-dotted-line {
                width: 100%;
                height: 1px;
                border-top: 2px dashed color("primary");
            }

            &-icon {
                @include breakpoint-down(sm) {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

.atel-engagement {
    overflow-y: hidden;

    .segment-heading {
        max-width: 732px;
    }
    .atel-engagement-segment {
        max-width: 1064px;
    }

    .engagement-list {
        @include breakpoint-down(lg) {
            gap: 20px !important;
        }

        @include breakpoint-down(sm) {
            gap: 16px !important;
        }

        .engagement-item {
            transition: $default-transition;
            &:hover {
                background: color("primary") !important;
                border-color: darken(color("primary"), 5%) !important;

                p,
                h3 {
                    color: color("white") !important;
                }

                .btn {
                    background: color("white") !important;
                }
            }
        }
    }
}

.atel-dev-resource {
    .atel-dev-resource-segment {
        grid-template-columns: 40% auto;

        @include breakpoint-down(xxl) {
            grid-template-columns: 30% auto;
        }

        @include breakpoint-down(xl) {
            grid-template-columns: 100%;
        }
    }

    .dev-resource-btns{
        @include breakpoint-down(sm){
            gap: 8px !important;
        }

        .btn{
            @include breakpoint-down(sm){
                flex: 1;
            }
        }
    }

    .dev-resource-tabs {
        border: 1px solid rgba-color(color("white"), 0.2);

        .nav-tabs {
            @include breakpoint-down(sm) {
                row-gap: 4px;
            }

            .nav-link {
                border-top-left-radius: 12px !important;
                border-top-right-radius: 12px !important;

                @include breakpoint-down(sm) {
                    border-top-left-radius: 8px !important;
                    border-top-right-radius: 8px !important;
                    padding: 8px 10px !important;
                }

                &.active {
                    background: color("mdt-green-v3") !important;
                    color: color("primary") !important;
                }
            }
        }
        .tab-content {
            border-top-right-radius: 0 !important;
            border-top-left-radius: 0 !important;

            @include breakpoint-down(sm) {
                padding-top: 0 !important;
            }
        }
    }
}

.atel-sms-service {
    overflow-y: hidden;

    .slider-cards {
        .card {
            height: 380px;
        }
    }
}
