.atel-success-pvmt {
    .segment-heading {
        max-width: 300px;

        .segment-ttl {
            margin-top: 20px;
            @include breakpoint-down(xl) {
                text-align: center !important;
            }
        }
    }
    .success-pvmt-segment {
        grid-template-columns: 1fr 3fr;

        @include breakpoint-down(xxl) {
            gap: 24px !important;
        }

        @include breakpoint-down(xl) {
            grid-template-columns: 100% !important;
        }
    }

    .success-pvmt-item {
        padding: 16px !important;
    }
}

.atel-solutions-block {
    .solutions-block {
        &-img {
            border-radius: 28px;
            overflow: hidden;

            @include breakpoint-down(lg) {
                max-width: 360px;
                margin-right: auto;
                margin-left: auto;
            }

            @include breakpoint-down(md) {
                max-width: 100%;
            }
        }

        &-item {
            // border-top-right-radius: 80px;
            // border-top-left-radius: 80px;
            border-radius: 0 !important;

            // @include breakpoint-down(lg) {
            //     border-top-right-radius: 60px;
            //     border-top-left-radius: 60px;
            // }

            // @include breakpoint-down(md) {
            //     border-top-right-radius: 40px;
            //     border-top-left-radius: 40px;
            // }

            // @include breakpoint-down(sm) {
            //     border-top-right-radius: 24px;
            //     border-top-left-radius: 24px;
            // }

            & > .container {
                max-width: 1096px !important;
                gap: 80px;
                min-height: 360px;
                grid-template-columns: repeat(2, 1fr);

                @include breakpoint-down(xxl) {
                    gap: 60px;
                }

                @include breakpoint-down(xl) {
                    gap: 40px;
                }

                @include breakpoint-down(lg) {
                    column-gap: 16px;
                    row-gap: 24px;
                }

                @include breakpoint-down(md) {
                    grid-template-columns: 100% !important;
                    gap: 20px;
                }
            }

            &:nth-child(1) {
                // position: sticky;
                // top: 100px;

                & > .container {
                    // grid-template-columns: 37% auto;
                    // min-height: 400px;
                }
            }

            &:nth-child(2) {
                // margin-top: -100px;
                // position: sticky;
                // top: 120px;

                // @include breakpoint-down(sm) {
                //     margin-top: -80px;
                // }

                .solutions-block {
                    &-img {
                        order: 2;
                        @include breakpoint-down(lg) {
                            order: 1;
                        }
                    }
                    &-content {
                        order: 1;
                        @include breakpoint-down(lg) {
                            order: 2;
                        }
                    }
                }
            }

            &:nth-child(3) {
                // margin-top: -100px;
                // position: sticky;
                // top: 140px;

                // @include breakpoint-down(sm) {
                //     margin-top: -80px;
                // }
            }

            &:last-child {
                .solutions-block-content {
                    margin-bottom: 0 !important;
                }
            }
        }

        &-content {
            @include breakpoint-down(md) {
                margin-bottom: 100px !important;
            }

            @include breakpoint-down(sm) {
                margin-bottom: 80px !important;
            }
        }
    }
}

.atel-solutions-offers {
    .solutions-offers {
        &-segment {
            grid-template-columns: 21% auto;

            @include breakpoint-down(xxl) {
                grid-template-columns: 100%;
            }
        }
        
        &-grid {
            @include breakpoint-down(sm) {
                gap: 16px !important;
            }
        }
    }
}

.atel-rel-solutions {
    margin-top: -100px;
    background: url($img-path + "solution/related_solutions_banner.svg") center/cover no-repeat;

    @include breakpoint-down(lg) {
        margin-top: -60px;
    }

    .rel-solutions {
        &-segment {
            @include breakpoint-down(lg) {
                gap: 16px !important;
            }
        }
    }
}
