.atel-client-testimonials {
    .testimonials-list{
        gap: 110px;
        padding-left: 48px;

        @include breakpoint-down(xxl){
            gap: 80px;
            padding-left: 40px;
        }

        @include breakpoint-down(xl){
            gap: 60px;
        }
    }
    .testimonials-item {
        max-width: 315px;
        padding-bottom: 15px;

        &-group{
            gap: 140px;

            @include breakpoint-down(xxl){
                gap: 100px;
            }

            @include breakpoint-down(xl){
                gap: 60px;
            }

            &:nth-child(1){
                margin-top: 80px;
            }

            &:nth-child(2){
                margin-top: -100px;
            }

            &:nth-child(3){
                margin-top: 80px;
            }
        }

        &-img {
            width: 96px;
            height: 96px;
            min-width: 96px;
            min-height: 96px;
            left: 0;
            right: auto;
            top: calc(100% - 16px);
            transform: translateX(-50%);
            z-index: -1;

            @include breakpoint-down(xl){
                width: 80px;
                height: 80px;
                min-width: 80px;
                min-height: 80px;
            }
        }

        &-body {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 0;
        }

        &-foot {
            margin-left: 65px;
        }
    }
}
