.atel-whatsapp-msgs {
    .whatsapp-msgs {
        &-lead {
            max-width: 740px;
        }
    }
}

.atel-miss-moment {
    .atel-miss-moment-segment {
        max-width: 1064px;
        grid-template-columns: 53% auto;

        @include breakpoint-down(md) {
            grid-template-columns: 100%;
        }
    }

    .segment-heading {
        @include breakpoint-down(md) {
            text-align: center !important;
        }
    }

    .miss-moment-img {
        img {
            max-width: 337px;
            margin-left: auto;

            @include breakpoint-down(md) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.atel-whatsapp-api-for {
    .whatsapp-api-for-list{
        @include breakpoint-down(sm){
            gap: 16px!important;
        }
    }
    .whatsapp-api-for-item{
        transition: $default-transition;
        &:hover{
            background: color("primary")!important;

            p, h3{
                color: color("white")!important;
            }

            .btn{
                background: color("white")!important;
            }
        }

        @include breakpoint-down(sm){
            row-gap: 16px!important;
        }

        .btn{
            @include breakpoint-down(xs){
                width: 100%;
            }
        }
    }
}

.atel-build-better {
    .atel-build-better-segment {
        border-radius: 40px;
        max-width: 1064px;

        @include breakpoint-down(lg){
            border-radius: 20px;
        }

        @include breakpoint-down(sm){
            border-radius: 16px;
            padding-left: 0!important;
            padding-right: 0!important;
        }
    }
}

.atel-adv-msg-features {
    .segment-heading{
        @include breakpoint-down(lg){
            text-align: center!important;
        }
    }
    .atel-adv-msg-features-segment {
        border-radius: 40px;
        max-width: 1064px;
        padding: 100px;
        gap: 80px;
        background: url($img-path + "whatsapp_business/advance_messaging_banner.svg") center/cover no-repeat;

        @include breakpoint-down(xl){
            padding: 80px;
        }

        @include breakpoint-down(lg){
            border-radius: 20px;
            padding: 60px;
            gap: 60px;
        }

        @include breakpoint-down(md){
            padding: 40px;
            gap: 40px;
        }

        @include breakpoint-down(sm){
            border-radius: 16px;
            padding-left: 24px;
            padding-right: 24px;
            gap: 24px;
        }

        @include breakpoint-down(xs){
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .btn-white-black {
        &:hover {
            background: color("white") !important;
        }
    }

    .adv-msg-features-img{
        img{
            max-width: 332px;
            margin-bottom: -176px;

            @include breakpoint-down(lg){
                margin-bottom: -140px;
                margin-left: auto;
                margin-right: auto;
            }

            @include breakpoint-down(md){
                margin-bottom: -100px;
            }
        }
    }
}
